recursos/xsd/ConsultaClientePN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.davivienda.com/xml/ConsultaClientePN" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.davivienda.com/xml/ConsultaClientePN">
  <xsd:complexType name="DataHeaderReqType">
    <xsd:sequence maxOccurs="1" minOccurs="1">
      <xsd:element name="nombreOperacion" type="xsd:string"/>
      <xsd:element name="total" type="xsd:int"/>
      <xsd:element name="jornada" type="xsd:short"/>
      <xsd:element name="canal" type="xsd:short"/>
      <xsd:element name="modoDeOperacion" type="xsd:short"/>
      <xsd:element name="usuario" type="xsd:string"/>
      <xsd:element name="perfil" type="xsd:short"/>
      <xsd:element default="1.0.0" name="versionServicio" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DataHeaderRespType">
    <xsd:sequence maxOccurs="1" minOccurs="1">
      <xsd:element name="nombreOperacion" type="xsd:string"/>
      <xsd:element name="total" type="xsd:int"/>
      <xsd:element name="caracterAceptacion" type="xsd:string"/>
      <xsd:element name="ultimoMensaje" type="xsd:short"/>
      <xsd:element name="codMsgRespuesta" type="xsd:short"/>
      <xsd:element minOccurs="0" name="msgRespuesta" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="consultarClientePN" type="tns:consultarClientePNType"/>
  <xsd:element name="consultarClientePNResponse" type="tns:consultarClientePNResponseType"/>
  <xsd:complexType name="consultarClientePNType">
    <xsd:sequence>
      <xsd:element name="Request" type="tns:RequestconsultarClientePNType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarClientePNResponseType">
    <xsd:sequence>
      <xsd:element name="Response" type="tns:ResponseconsultarClientePNType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RequestconsultarClientePNType">
    <xsd:sequence>
      <xsd:element name="DataHeader" type="tns:DataHeaderReqType"/>
      <xsd:element name="Data" type="tns:DataReqType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseconsultarClientePNType">
    <xsd:sequence>
      <xsd:element name="DataHeader" type="tns:DataHeaderRespType"/>
      <xsd:element name="Data" type="tns:DataRespType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DataReqType">
    <xsd:sequence>
      <!--Campos nuevos regional-->
      <xsd:element minOccurs="0" name="idSesion" type="xsd:string"/>
      <xsd:element minOccurs="0" name="codIdioma" type="xsd:string"/>
      <xsd:element minOccurs="0" name="valOrigen" type="xsd:string"/>
      <xsd:element minOccurs="0" name="codPais" type="xsd:string"/>
      <!--Campos nuevos regional-->
      <xsd:element minOccurs="0" name="numeroId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tipoId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DataRespType">
    <xsd:sequence>
      <xsd:element name="datos_PN" type="tns:RegRespType" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespType">
    <xsd:sequence>
      <xsd:element name="actLaborales" type="tns:RegRespTypeActLaborales" minOccurs="1"/>
      <xsd:element name="notas" type="tns:RegRespTypenotas" minOccurs="1"/>
      <xsd:element name="operacionesInternacionales" type="tns:RegRespTypeoperacionesInternacionales" minOccurs="1"/>
      <xsd:element name="monedas" type="tns:RegRespTypemonedas" minOccurs="1"/>
      <xsd:element name="referencias" type="tns:RegRespTypereferencias" minOccurs="1"/>
      <xsd:element name="pasivosCreditos" type="tns:RegRespTypepasivosCreditos" minOccurs="1"/>
      <xsd:element name="activosPropiedadesVehiculos" type="tns:RegRespTypeactivosPropiedadesVehiculos" minOccurs="1"/>
      <xsd:element name="egresos" type="tns:RegRespTypeegresos" minOccurs="1"/>
      <xsd:element name="ingresos" type="tns:RegRespTypeingresos" minOccurs="1"/>
      <xsd:element name="relaciones" type="tns:RegRespTyperelaciones" minOccurs="1"/>
      <xsd:element name="empleos" type="tns:RegRespTypeempleos" minOccurs="1"/>
      <xsd:element name="puestosTrabajo" type="tns:RegRespTypepuestosTrabajo" minOccurs="1"/>
      <xsd:element name="hobbies" type="tns:RegRespTypehobbies" minOccurs="1"/>
      <xsd:element name="direcciones" type="tns:RegRespTypedirecciones" minOccurs="1"/>
      <xsd:element name="emails" type="tns:RegRespTypeemails" minOccurs="1"/>
      <xsd:element name="celulares" type="tns:RegRespTypecelulares" minOccurs="1"/>
      <xsd:element name="telefonos" type="tns:RegRespTypetelefonos" minOccurs="1"/>
      <xsd:element name="cliente" type="tns:RegRespTypecliente" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypecliente">
    <xsd:sequence>
      <xsd:element name="nroIdentificacionCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descTipoIdentificacionCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoIdentificacionCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="saludoCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="primerApellidoCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="segundoApellidoCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nombresCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="lugarNacimientoCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechaNacimientoCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="lugarExpedicionCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechaExpedicionCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechaVinculacionCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="oficinaRadicacionCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tokenCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="indicadorExistenciaCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="indicadorPNCNCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="estadoCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="clienteDavivaloresCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="segmentoComercialCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="subsegmentoComercialCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="segmentoColorCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="autenticadoCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="autenticacionUsuarioCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="segmentoInversionCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="perfilRiesgoInversionCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="cuentaDECEVALCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nroPersonasCargoCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="origenCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="sexoCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="estadoCivilCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nivelEducacionCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="profesionCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="vincGrupoBolivarCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechaPensionadoCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechaMarcaActualExonerCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="diasActDatosCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="usuarioCreaClienteCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ordenanteCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="accionistaDaviviendaCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="indClienteEstablecimCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="estadoExoneradoCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ingresoCertificadoCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="viviendaCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="declaraRentaCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="retefuenteCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="anoinicVidaLaboralCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="particbilleteraCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="montopreapFirmeTotCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="montopreapRotativoFirmeCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="montopreapConsumoFirmeCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechaLiberapreapCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechaUltActuaprCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="clientePEPSCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="leyVictimasCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="funcionarioPublicoCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="manejaRecursosPublCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nacionalidadCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ingresoMensualCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="cliEntregaBienEnFiduciaCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="intervenDeProyectoCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="flagEntidadPublicaCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="paisNacimientoCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="esContratistaEstadoCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nacionalidadAmericanaCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ciudadaniaAmericanaCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="pasaporteAmericanoCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nroPasapAmericanoCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tarjetaVerdeCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="numeroTINCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="motivoEstadiaUSACLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="otroMotivoEstadiaUSACLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="mas180DiasUSAUltAFiscalCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="otraNacionalidadCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="cualOtraNacionalidadCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tieneResidLegalOtroPaisCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="direcOtroPaisCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="paisDirecOtroPaisCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ciudadDirOtroPaisCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="impactadoFATCACLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="identifBienEntregadoCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="modalEntreInfoAnualCostoCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="claseRecursoEntregadoCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="flagRelntoGrupoBolivarCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechaActInformacionClienteCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="twitterCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="mas122DiasPromUSAult3anosCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="actividadLaboralCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="modEntregaInfoAnualCostoCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="totalIngresosCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="totalEgresosCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="totalActivosCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="totalPasivosCLI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="clienteHastalaFecha" type="xsd:string" minOccurs="0"/>
      <xsd:element name="clasificacionRiesgosSARLAFT" type="xsd:string" minOccurs="0"/>
      <xsd:element name="clienteDaviplata" type="xsd:string" minOccurs="0"/>
      <xsd:element name="clienteFiduciaria" type="xsd:string" minOccurs="0"/>
      <xsd:element name="flagTradingElectronico" type="xsd:string" minOccurs="0"/>
      <xsd:element name="portafolioPersonaNatural" type="xsd:string" minOccurs="0"/>
      <xsd:element name="oficinaDeAsignacion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="montopreaprobadovehiculo" type="xsd:string" minOccurs="0"/>
      <xsd:element name="montoPreaprobadoHipotecario" type="xsd:string" minOccurs="0"/>
      <xsd:element name="trader" type="xsd:string" minOccurs="0"/>
      <xsd:element name="segmentoSARLAFT" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechaMarcaActualColor" type="xsd:string" minOccurs="0"/>
      <xsd:element name="contadorMarcaColor" type="xsd:string" minOccurs="0"/>
      <xsd:element name="contadorMarcaLibre" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechaDePrimeraMarcaColor" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechaPrimeraMarcaRel" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoActividades" type="xsd:string" minOccurs="0"/>
      <xsd:element name="metodoDeAutenticacion" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypetelefonos">
    <xsd:sequence>
      <xsd:element name="telefono" type="tns:RegRespTypetelefono" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypecelulares">
    <xsd:sequence>
      <xsd:element name="celular" type="tns:RegRespTypecelular" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypeemails">
    <xsd:sequence>
      <xsd:element name="email" type="tns:RegRespTypeemail" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypedirecciones">
    <xsd:sequence>
      <xsd:element name="direccion" type="tns:RegRespTypedireccion" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypehobbies">
    <xsd:sequence>
      <xsd:element name="hobbie" type="tns:RegRespTypehobbie" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypepuestosTrabajo">
    <xsd:sequence>
      <xsd:element name="puestoDeTrabajo" type="tns:RegRespTypepuestoDeTrabajo" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypeempleos">
    <xsd:sequence>
      <xsd:element name="empleo" type="tns:RegRespTypeempleo" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTyperelaciones">
    <xsd:sequence>
      <xsd:element name="relacion" type="tns:RegRespTyperelacion" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypeingresos">
    <xsd:sequence>
      <xsd:element name="ingreso" type="tns:RegRespTypeingreso" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypeegresos">
    <xsd:sequence>
      <xsd:element name="egreso" type="tns:RegRespTypeegreso" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypeactivosPropiedadesVehiculos">
    <xsd:sequence>
      <xsd:element name="activoPropiedadVehiculo" type="tns:RegRespTypeactivoPropiedadVehiculo" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypepasivosCreditos">
    <xsd:sequence>
      <xsd:element name="pasivoCredito" type="tns:RegRespTypepasivoCredito" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypereferencias">
    <xsd:sequence>
      <xsd:element name="referencia" type="tns:RegRespTypereferencia" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypemonedas">
    <xsd:sequence>
      <xsd:element name="moneda" type="tns:RegRespTypemoneda" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypeActLaborales">
    <xsd:sequence>
      <xsd:element name="actLaboral" type="tns:RegRespTypeActLaboral" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypenotas">
    <xsd:sequence>
      <xsd:element name="nota" type="tns:RegRespTypenota" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypeoperacionesInternacionales">
    <xsd:sequence>
      <xsd:element name="operacionInternacional" type="tns:RegRespTypeoperacionInternacional" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypetelefono">
    <xsd:sequence>
      <xsd:element name="nroIdentificacionTL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descTipoIdentificacionTL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoIdentificacionTL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoTelefonoTL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="numeroTL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="telefonoPpalTL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ciudadTL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="indicativoTL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="activoTL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="extensionTL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoTL" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypecelular">
    <xsd:sequence>
      <xsd:element name="nroIdentificacionCL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descTipoIdentificacionCL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoIdentificacionCL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoTelefonoCL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="numeroCL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="celularPrincipalCL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ciudadCL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="indicativoCL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="activoCL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="extensionCL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoCL" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypeemail">
    <xsd:sequence>
      <xsd:element name="nroIdentificacionEM" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descTipoIdentificacionEM" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoIdentificacionEM" type="xsd:string" minOccurs="0"/>
      <xsd:element name="claseCelularEM" type="xsd:string" minOccurs="0"/>
      <xsd:element name="emailEM" type="xsd:string" minOccurs="0"/>
      <xsd:element name="correoPrincipalEM" type="xsd:string" minOccurs="0"/>
      <xsd:element name="estadoEmailEM" type="xsd:string" minOccurs="0"/>
      <xsd:element name="activoEM" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipo" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypedireccion">
    <xsd:sequence>
      <xsd:element name="nroIdentificacionDI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descTipoIdentificacionDI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoIdentificacionDI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoDireccionDI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="codTipoDireccionDI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="claseDireccionDI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="codigoClaseDireccionDI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="direccionDI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ciudadDI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="municipioDI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="departamentoDI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="paisDI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="codigoPostalDI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="codigoAreaDI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="direccionPrincipalDI" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypehobbie">
    <xsd:sequence>
      <xsd:element name="nroIdentificacionHB" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descTipoIdentificacionHB" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoIdentificacionHB" type="xsd:string" minOccurs="0"/>
      <xsd:element name="hobbieHB" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipo" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypepuestoDeTrabajo">
    <xsd:sequence>
      <xsd:element name="nroIdentificacionPT" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descTipoIdentificacionPT" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoIdentificacionPT" type="xsd:string" minOccurs="0"/>
      <xsd:element name="divisionPT" type="xsd:string" minOccurs="0"/>
      <xsd:element name="puestoTrabajoPT" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoEjecutivoPT" type="xsd:string" minOccurs="0"/>
      <xsd:element name="rolCoberturaPT" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypeempleo">
    <xsd:sequence>
      <xsd:element name="nroIdentificacionEM" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descTipoIdentificacionEM" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoIdentificacionEM" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nombreEmpresaEM" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nitEmpresaEM" type="xsd:string" minOccurs="0"/>
      <xsd:element name="actEconomicaEM" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoContratoEM" type="xsd:string" minOccurs="0"/>
      <xsd:element name="cargoEM" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechaIngresoEM" type="xsd:string" minOccurs="0"/>
      <xsd:element name="convenio" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTyperelacion">
    <xsd:sequence>
      <xsd:element name="nroIdentificacionRL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descTipoIdentificacionRL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoIdentificacionRL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoRelacionRL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="codTipoRelacionRL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="claseRelacionRL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="claseRelacionGlosaRL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="porcentajeParticipacionRL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="porcentajParticipGFRL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="grupoFamiliarRL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="socioImpactLeyFATCARL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="porcentajeParticipSocioRL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="numeroTINRL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tributacionUSARL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="primerApellidoRelRL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="segundoApellidoRelRL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nombreRelRL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="noIdentificacionRelRL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoIdentificacionRelRL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="impactadoFATCARL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="relacion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="impuestos" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypeingreso">
    <xsd:sequence>
      <xsd:element name="nroIdentificacionIN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descTipoIdentificacionIN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoIdentificacionIN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="valorIN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoIN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="codigoTipoIN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="principalIN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoActLaboralIN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="codActLaboralIN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="actEconomicaIN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="desActEconomicaIN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="profesionIN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="codProfesionIN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoContratoIN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="codTipoContratoIN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nombreEmpresaIN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nitEmpresaIN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoNitEmpresaIN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechaInicioIN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="antigLaboralIN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="carreraIN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="codCarreraIN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="universidadIN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="anoCursaIN" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypeegreso">
    <xsd:sequence>
      <xsd:element name="nroIdentificacionEG" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descTipoIdentificacionEG" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoIdentificacionEG" type="xsd:string" minOccurs="0"/>
      <xsd:element name="montoEG" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoEG" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descripcion" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypeactivoPropiedadVehiculo">
    <xsd:sequence>
      <xsd:element name="nroIdentificacionPV" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descTipoIdentificacionPV" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoIdentificacionPV" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoPV" type="xsd:string" minOccurs="0"/>
      <xsd:element name="codigoTipoPV" type="xsd:string" minOccurs="0"/>
      <xsd:element name="marcaVehiculoPV" type="xsd:string" minOccurs="0"/>
      <xsd:element name="valorComercialPV" type="xsd:string" minOccurs="0"/>
      <xsd:element name="modeloVehiculoPV" type="xsd:string" minOccurs="0"/>
      <xsd:element name="placaVehiculoPV" type="xsd:string" minOccurs="0"/>
      <xsd:element name="reservaDominioVehPV" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipodeInmueblePV" type="xsd:string" minOccurs="0"/>
      <xsd:element name="direccionInmueblePV" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ciudadInmueblePV" type="xsd:string" minOccurs="0"/>
      <xsd:element name="matriculaInmobiliariaPV" type="xsd:string" minOccurs="0"/>
      <xsd:element name="saldoHipotecaPV" type="xsd:string" minOccurs="0"/>
      <xsd:element name="marcaTipoInmueblePV" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypepasivoCredito">
    <xsd:sequence>
      <xsd:element name="nroIdentificacionPC" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descTipoIdentificacionPC" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoIdentificacionPC" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nombreEntidadPC" type="xsd:string" minOccurs="0"/>
      <xsd:element name="valorSaldoDeudaPC" type="xsd:string" minOccurs="0"/>
      <xsd:element name="valorAprobadoPC" type="xsd:string" minOccurs="0"/>
      <xsd:element name="cuotaMensualPC" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechaAprobacionPC" type="xsd:string" minOccurs="0"/>
      <xsd:element name="matriculaInmobiliariaPC" type="xsd:string" minOccurs="0"/>
      <xsd:element name="valorComercialPC" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoObligacionPC" type="xsd:string" minOccurs="0"/>
      <xsd:element name="codigoTipoObligacionPC" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoPC" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nombrePC" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoPasivoPC" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descripcion" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypereferencia">
    <xsd:sequence>
      <xsd:element name="nroIdentificacionRF" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descTipoIdentificacionRF" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoIdentificacionRF" type="xsd:string" minOccurs="0"/>
      <xsd:element name="relacionRF" type="xsd:string" minOccurs="0"/>
      <xsd:element name="codigoRelacionRF" type="xsd:string" minOccurs="0"/>
      <xsd:element name="claseDeRelacionRF" type="xsd:string" minOccurs="0"/>
      <xsd:element name="claseDeRelacionGlosaRF" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nroIdentificacionREF" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descTipoIdentificacionREF" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoIdentificacionREFE" type="xsd:string" minOccurs="0"/>
      <xsd:element name="primerApellidoRF" type="xsd:string" minOccurs="0"/>
      <xsd:element name="segundoApellidoRF" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nombreRF" type="xsd:string" minOccurs="0"/>
      <xsd:element name="telefonoRF" type="xsd:string" minOccurs="0"/>
      <xsd:element name="direccionRF" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ciudadDireccionRF" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ciudadTelefonoRF" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoRF" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoRelacionRF" type="xsd:string" minOccurs="0"/>
      <xsd:element name="email" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypemoneda">
    <xsd:sequence>
      <xsd:element name="nroIdentificacionMN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descTipoIdentificacionMN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoIdentificacionMN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoMN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ciudadEntidadMN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="cuentaEntidadMN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="monedaMN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nombreEntidadMN" type="xsd:string" minOccurs="0"/>
      <xsd:element name="paisMN" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypeoperacionInternacional">
    <xsd:sequence>
      <xsd:element name="nroIdentificacionOI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descTipoIdentificacionOI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoIdentificacionOI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoOI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoDeOperacionOI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descripcionOI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="valorMensualOI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="remitenteBeneficiarioOI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="codigoCiudadOI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ciudadOI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="departamentoOI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="codigoPaisOI" type="xsd:string" minOccurs="0"/>
      <xsd:element name="paisOI" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypeActLaboral">
    <xsd:sequence>
      <xsd:element name="desctipoidentificacionAL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="nroIdentificacionAL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoIdentificacionAL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="actLaboralAL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoContratoAL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fechaInicioAL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="carreraAL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="anoCursaAL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="universidadAL" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoAL" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegRespTypenota">
    <xsd:sequence>
      <xsd:element name="nroIdentificacionNT" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descTipoIdentificacionNT" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoIdentificacionNT" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tipoNotaNT" type="xsd:string" minOccurs="0"/>
      <xsd:element name="notaNT" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>